@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    font-family: 'Red Rose', cursive;
}
:root{
    --header-black: #434343;
    --button-background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    --button-color: #FFFFFF;
    --modal-background: rgba(64, 64, 64, 0.3);
    --hr-color: #CFD8DC;
    --modal-black: #333333;
    --modal-button-color: #F8F9FA;
    --home-body-color:  linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    --search-background: rgba(247, 247, 247, 0.1);
    --search-border-color: #A3A3A3;
    --search-text-color: #BBBBBB;
    --inpiration-border: #D7D7D7;
    --footer-background: #1D1D1E;
    --submit-background:  linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
}
.place-body{
    /* height: 100vh;
    background-color: red; */
}
.place-section-1{
    display: flex;
    padding: 15vh 5% 10vh;
}

.place-name{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.places{
    text-decoration: none;
    color: var(--header-black);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 25px;
}
.places:hover{
    color: #A02279;
}

/* second section */
.place-inspiration{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5% 10vh;
}
.inspiration-content{
    width: 24%;
    margin-bottom: 4vh;
    padding-bottom: 2vh;
    color: var(--header-black);
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid var(--inpiration-border);
    border-radius: 15px;
}
.inspiration-pic{
    width: 90%;
    margin: 2vh 5%;
}
.inspiration-content .desert{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.desert .p-1{
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1vh;
}
.desert p{
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1vh;
}
.inspiration-content .km{
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}
.km p{
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1vh;
}
.inspiration-rating{
    display: flex;
    width: 37%;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 1vh;
}
.inspiration-rating img{
    width: 11%;
}